/* https://sass-lang.com/guide
 example of horizontal layout
 .business-card-horizontal_mode{
   width: 900px;
   height: 500px;
   border: 2px solid green;
  display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
*/

.business-card-vertical_mode {
  width: 900px;
  height: 500px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 250px;
  height: auto;
  outline: 3px solid red;
  align-self: flex-start;
}

.mainContent {
  outline: 1px solid blue;
  text-align: center;
}

.title {
  font-size: 30px;
}

.subtitle {
   font-size: 23px;
}

.contactFooter {
  border: 5px solid white;
  font-size: 23px;
  text-align: center;
}
